<% layout('layout/boilerplate') %>
<style>
    .login-tab{
        margin-top: 30px;
    }
</style>
<div class="d-flex justify-content-center align-items-center vh-90 bg-light">
  <div class="login-tab card p-4 shadow-sm" style="width: 400px; border-radius: 12px;">
    <h2 class="text-center mb-4">Login</h2>
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <p class="mb-0">Don't have an account? <a href="/signup">Signup</a></p>
    </div>
  </div>
</div>
